 #loginitem{
 	width:90%;
 	margin: 0 auto;
 	margin-bottom:20px;
    background:green;
 }
 #lginitem,lgoutitem{
 	float:right;
 	text-decoration:none;
 }
 
 #stu_table{
	border:1px solid black;
	width: 90%;
	margin:0 auto;
	margin-top:20px;
	height:70%;
	margin-left:5%;
} 

#login_table{
	margin:0 auto;
	margin-top:20%;
} 

#stu_cruditem{ 		
	margin: 0 auto;
	margin-left:5%;
	boarder:20px; 	
	width:90%;
	background:gray;	
	font:12px verdana, arial, sans-serif;
	list-style:none; /* 将默认的列表符号去掉 */
	padding:0; /* 将默认的内边距去掉 */
}

#stu_cruditem li {	
	list-style:none; /* 将默认的列表符号去掉 */
	padding:0; /* 将默认的内边距去掉 */
	float:left;
}

